# The RHTAP maintainers for ACS review all changes related to the Konflux (f.k.a. RHTAP) pipelines, such as new
# pipelines, parameter changes or automated task updates as well as Dockerfile updates.
/.tekton/               @stackrox/rhtap-maintainers
