# Konflux maintainers for ACS review all changes related to the Konflux pipelines, such as new pipelines, parameter
# changes or automated task updates.
/.tekton/               @stackrox/konflux-maintainers
.github/renovate.json5  @stackrox/konflux-maintainers
